body {
  background-color: #2F2F2F;
  font-family: sans-serif;

  h1 {
    color: #FFFFFF;
    span {
      color: blue;
    }
  }

  .steps-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  
    fieldset {
      width: 31%;

      &.step-1 {
        background-color: #7fffd4;
      }

      &.step-2 {
        background-color: #add8e6;
        &.disabled {
          opacity: 0.3;
        }
        textarea {
          width: 100%;
        }
      }

      &.step-3 {
        background-color: #FFE4B5;
        &.disabled {
          opacity: 0.3;
        }
      }
  
      legend {
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 10px;
        background-color: #FFFFFF;
        padding: 0.5rem;
      }

      .attendee_wrap {
        label {
          font-style: italic;
          font-size: 0.8rem;
        }
      }
    }
  
    label {
      font-style: italic;
    }

    input, select {
      margin: 5px 5px;
    }
  }

  .check-mark {
    display: flex;
    justify-content: center;
    div {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      // border: 1px solid;
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: #D0F0c0;
      box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #000000;
      span {
        font-size: 80px;
        color: green;
      }
    }
  }
}